.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&__wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&--3d {
		border-radius: 10px;
		width: 80px;
		height: 80px;
		box-shadow: 4px 4px 16px rgba($nepal, 0.4), -5px -5px 15px rgba($white, 0.9);
		background: linear-gradient(315.13deg, rgba($concrete, 0.3) 5.21%, rgba($white, 0.3) 62.26%), $white;
		transition: all 0.3s ease-out;

		&::before {
			content: "";
			position: absolute;
			left: calc(50% - (74.67px / 2));
			top: calc(50% - (74.67px / 2));
			z-index: 0;
			border-radius: 10px;
			width: 74.67px;
			height: 74.67px;
			box-shadow: inset 4px 4px 12px rgba($nepal, 0.4), inset -5px -5px 18px $white;
			background: linear-gradient(312.9deg, rgba($white, 0.3) 4.49%, rgba($black-squeeze, 0.3) 95.45%), $white;
		}

		svg {
			position: relative;
			z-index: 1;
		}

		&:active {
			transform: translateY(5px);
		}
	}
}
