// стилі для підвалу сайту
.footer {
	padding: 10px 0;
	background-color: rgba(194, 196, 226, 0.3);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu-list {
		column-count: 2;
	}

	&__menu-item {
		padding: 5px 0;
	}
}
