// стилі для шапки сайту
.header {
	padding: 10px 0;
	background-color: rgba(194, 196, 226, 0.3);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		align-items: center;
		
		svg {
			margin-right: 5px;
		}
	}

	&__logo-text {
		font-weight: 500;
		text-shadow: $shadow;

		
	}

	&__burger {
		display: none;
		width: 30px;
		height: 30px;
		background-image: url("../img/svg/menu-line.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		@media (max-width: 567px) {
			display: block;
		}
	}

	&__nav {
		@media (max-width: 567px) {
			display: none;
		}
	}
}