<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__logo">
				<h4>Logo</h4>
			</div>
			<div class="footer__menu">
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Item1</a>
					</li>
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Item2</a>
					</li>
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Item3</a>
					</li>
					<li class="footer__menu-item">
						<a href="#" class="footer__menu-link">Item4</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>