@use "sass:math";

$font-primary: "gilroy", sans-serif;

// змінні
// параметри сітки
// максимальна ширина контейнера
// $container-max-width: 1140px !default;

// кількість колонок
$grid-columns: 12 !default;

// відстань між елементами
$grid-gap: 30px !default;
$grid-gap-side: math.div($grid-gap, 2); // migrate sass 5

// контрольні точки сітки
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
) !default;
$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1140;
$fontSizeDefault: 16;
$containerGutter: 15;

// breakpoints
$bp-xl: 1200;
$bp-lg: 992;
$bp-md: 768;
$bp-sm: 576;
