@font-face {
	src: url("../fonts/Gilroy-Black.woff2"), url("../fonts/Gilroy-Black.woff");
	font-family: "Gilroy";
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Gilroy-Bold.woff2"), url("../fonts/Gilroy-Bold.woff");
	font-family: "Gilroy";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Gilroy-Light.woff2"), url("../fonts/Gilroy-Light.woff");
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Gilroy-Heavy.woff2"), url("../fonts/Gilroy-Heavy.woff");
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Gilroy-Medium.woff2"), url("../fonts/Gilroy-Medium.woff");
	font-family: "Gilroy";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Gilroy-Regular.woff2"), url("../fonts/Gilroy-Regular.woff");
	font-family: "Gilroy";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Gilroy-Thin.woff2"), url("../fonts/Gilroy-Thin.woff");
	font-family: "Gilroy";
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

